<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Category detail</title>
	<style th:replace="common/head_tag"></style>
	<link rel="stylesheet" href="/assets/css/admin_style.css" />
</head>
<body>
	<div th:replace="common/content_first"></div>
	<section id="content">
		<dl>
			<dt>ID</dt>
			<dd th:text="${category.idc}"></dd>
			<dt>Name</dt>
			<dd th:text="${category.name_c}"></dd>
			<dt>
			</dt>
			<dd></dd>
		</dl>
	</section>
	<a th:href="@{/admin/cate/view}" class="btn btn-outline-warning">Back</a>
	<div th:replace="common/content_footer"></div>
	<script>
		//var title = document.getElementById("subtitle");
		//title.innerHTML="Product management";
	</script>
</body>
</html>