<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Insert title here</title>
	<style th:replace="common/head_tag"></style>
</head>
<body>
	<div th:replace="common/content_first"></div>
	
	<p>Welcome to index content</p>
	
	<div th:replace="common/content_footer"></div>	
	
	<script>
		var title = document.getElementById("subtitle");
		title.innerHTML="Product management";
	</script>
</body>
</html>